body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

nav {
	width:100%;
 	height:50px;
	position:fixed;
  z-index: 9999;
 	top:0px;
 	background-color: #252120;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 20px 0;
  list-style: none;
}

ul li {
  font: bold 12px/18px sans-serif;
  color: #fff;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  background: #252120;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


ul li:hover {
  background: #2A2A2A;
  color: #fff;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  color: #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li {
  background: #474545;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover {
	background: #2A2A2A;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

nav a {
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
  color: #FFFFFF;
}

nav a:visited {
	color: inherit;
}

.quickjump li {
  display: block;
  background: transparent;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.quickjump li a {
  text-decoration: none;
  text-shadow: none;
  font-size: 18px;
  color: #000000;
}

.quickjump li a:hover {
  color: #FFFFFF;
}

#up {
	width: 97px;
	height: 97px;
	position: fixed;
  z-index: 9999;
	top: 60px;
	left: -21px;
}

#contentcontainer {
	margin-top: 50px;
	color: #473000;
}

.intro {
	font: italic normal 18px/28px Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -0.025em;
	color: #252120;
	padding: 10px 0 10px 0;
	margin-top: 8px;
	text-shadow: 0px 1px 1px #333;
	min-height: 1000px;
	background: #F6F6F6;
  color: #2e2e2e;
  overflow: hidden;
}

.islandintro {
  font: italic normal 18px/28px Georgia, 'Times New Roman', Times, serif;
  letter-spacing: -0.025em;
  color: #252120;
  padding: 10px 0 10px 0;
  margin-top: 8px;
  text-shadow: 0px 1px 1px #333;
  min-height: 1000px;
  background: #ffffff;
  color: #2e2e2e;
  overflow: hidden;
}


/* Rotation CSS from http://blog.vivekv.com/rotate-image-360deg-when-mouse-hover-using-css-3.html */
.spin_me {
	margin: auto;
  margin-top: 1em;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

.spin_me:hover {
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.project {
	min-height: 1000px;
	padding: 25px;
}

.one {
  width: 20%;
  float: left;
  margin-left: 7%;
  margin-top: 40px;
}

.two {
  width: 30%;
  float: right;
  margin-right: 7%;
  margin-top: 40px;
}

.pattern {
  width: 100%;
  height: 13px;
  background-image: url(../img/jagged-top.png);
  margin-bottom: -1px;
  margin-top: -10px;
}

.patterndown {
  width: 100%;
  height: 13px;
  background-image: url(../img/jagged-bottom.png);
  margin-bottom: -9px;
  position: relative;
}

#project-1 {
	background: #768E8F url(../img/project1bg.jpg);
  color: #FFFFFF;
}

#project-2 {
	background: #F6F6F6;
  color: #2e2e2e;
}

#project-3 {
	background: #768E8F url(../img/project1bg.jpg);
  color: #FFFFFF;
}

#project-4 {
	background: #F6F6F6;
  color: #2e2e2e;
}

#project-5 {
  background: #768E8F url(../img/project1bg.jpg);
  color: #FFFFFF;
}

h2 {
	margin: 0;
}

table {
  margin: 0 auto;
}

table a, table a:visited {
  text-decoration: none;
  color: #EED5FF;
}

table a:hover {
  text-decoration: underline;
}

tr, td, th {
  border: 1px solid black;
}
.bandinfo li {
  display: block;
  background: transparent;
  text-align: center;
  width: 190px;
  margin: 0 auto;
  font-size: 16px;
}

.bandinfo li a, .bandinfo li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
